header{
    background-color: royalblue;
    padding: 10px 0;
}

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

footer{
    background-color: royalblue;
    padding: 10px 0;
}

.block {
    margin-top: 40px;
    margin-bottom: 40px;
}



/* Stuff for the introduction Section */
.hero {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    place-items: center;
}

.intro-subhead {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.intro-head {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text {
    font-size: 1.25rem;
    margin-top: 2px;
}

.intro-img {
    max-width: 400px;
    height: auto;
}



/* Stuff for the stats section */
.stat-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.temp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.full-width-line {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-top: 1px solid #ddd;
}


/* Stuff to format the layout the anime list */
.grid {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* Doesnt work currently but want to implement */
    align-items: start;
    margin: 0 auto;       /* now works because grid has a defined width */
    width: fit-content;   /* grid shrinks to its content width */
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background: antiquewhite;
    width: 250px;
}

.sim_img {
    width: 200px;
    height: 300px;  
    margin: 0 auto;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.card_title {
    line-height: 1.5;
    font-size: 1rem;
    padding: 15px;
    text-align: center;
    margin-top: 0;
}

.card_title > p:first-of-type {
    margin-top: 0;
}

.card_title > p:last-of-type {
    margin-bottom: 0;
}

/* https://www.youtube.com/watch?v=rV67qQahXAc */
/* https://css-tricks.com/html-for-subheadings-and-headings/ */